name: CI

on:
  push:
    branches: [main]
  
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          cache: "pip"
          cache-dependency-path: pyproject.toml
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.27"

      - run: python -m pip install -U pip
      - run: uv pip install --system -e ".[dev]""

      - run: uv run ruff check .
      - run: uv run mypy .
      - run: uv run pytest -q --cov=annot_consistency --cov-report=term-missing
      
      

